<div class="modal-header">
    <h3 class="modal-title">
        <div ng-hide="{{vm.editMode}}">New Task</div>
        <div ng-show="{{vm.editMode}}">Edit Task</div>
    </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Task Id</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Day"
                       aria-describedby="basic-addon1" ng-model="vm.taskId">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Name</label>

            <div class="col-sm-10">

                <input type="text" class="form-control" placeholder="Day"
                       aria-describedby="basic-addon1" ng-model="vm.taskName">

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Selectable</label>

            <div class="col-sm-10">
                <input type="checkbox" name="selectable" ng-model="vm.selectable"><br>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()">Close</button>
    <button id="saveNewButton" type="button" class="btn btn-primary" ng-click="vm.add()" ng-hide="{{vm.editMode}}">Add
    </button>
    <button id="saveButton" type="button" class="btn btn-primary" ng-click="vm.save()" ng-show="{{vm.editMode}}">Save
    </button>
</div>