<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>timerec</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet">
    <link href="bower_components/bootstrap-3-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">

    <link href="css/mytemplate.css" rel="stylesheet">

</head>

<body ng-app="timerecApp" ng-cloak>

<div class="navbar-wrapper">
    <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">timerec</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="timerec-record.html">Record</a></li>
                    <li class="active"><a href="index.html">Edit</a></li>
                    <li><a href="#report">Report</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-controller="TaskCtrl as vm">
    <div id="record" name="record" class="fullsize">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Month Selection</h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">

                        <label class="control-label col-sm-2">Year</label>

                        <div class="col-sm-4">
                            <input id="year-input" type="number" class="form-control" placeholder="Year"
                                   aria-describedby="basic-addon1" value="{{vm.year}}">
                        </div>

                        <label class="control-label col-sm-2">Month</label>

                        <div class="col-sm-4">
                            <select id="month-input" class="combobox form-control" name="horizontal"
                                    required="required" ng-model="vm.selectedMonth"
                                    ng-options="o.name for o in vm.monthOptions" ng-change="vm.loadData()">

                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title">New Task</h3>
            </div>

            <div class="panel-body">

                <div class="form-group" role="group">
                    <label class="control-label col-sm-2"></label>

                    <div class="col-sm-10"> <!--ng-init="ts=vm.tasks()"-->
                        <button id="task-button" type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false">
                            Start Task <span class="caret"></span>
                        </button>
                        <ul id="task-dropdown-menu" class="dropdown-menu" role="menu">
                            <li ng-click="vm.startTask(id)" ng-repeat="(id, detail) in vm.tasks" id="{{id}}">
                                {{detail.name}}
                            </li>
                        </ul>
                        <button ng-click="vm.stopTask()" id="stop-button" type="button" class="btn btn-default">Stop
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div> <!-- ng-controller="ModalDemoCtrl"-->
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">New / Edit</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Day</label>

                            <div class="col-sm-10">
                                <input id="day-input" type="number" class="form-control" placeholder="Day"
                                       aria-describedby="basic-addon1" value="{{vm.myday}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Time</label>

                            <div class="col-sm-10">
                                <!--input id="time-input" type="time" class="form-control" placeholder="Time"
                                       aria-describedby="basic-addon1"-->

                                <!--div class="input-append bootstrap-timepicker">
                                    <input id="time-input" type="text" class="input-small">
                                    <span class="add-on"><i class="icon-time"></i></span>
                                </div-->

                                <div class="input-append bootstrap-timepicker">
                                    <input id="timepicker1" type="text" class="input-small">
                                    <span class="glyphicon glyphicon-time"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Task</label>

                            <div class="col-sm-10">
                                <select id="task-select" class="combobox form-control" name="horizontal"
                                        required="required">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveNewButton" type="button" class="btn btn-default">Save new</button>
                    <button id="saveButton" type="button" class="btn btn-primary" ng-click="$close([myday, myday])">Save</button>
                </div>
            </script>
        </div>

        <!--div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Edit / New</h4>
                    </div>

                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div-->


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Task Details</div>
            <div class="table-responsive">

                <table id="taskTable" class="table">
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>Start time</th>
                        <th>Task</th>
                        <th>{{}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rec in vm.records track by $index">
                        <td>{{rec.day}}</td>
                        <td>{{rec.hour}}:{{rec.minute}}</td>
                        <td>{{vm.tasks[rec.taskId].name}}</td>
                        <td>
                            <span ng-click="vm.openEditDialog()" class='glyphicon glyphicon-edit'></span>
                            <span ng-click="vm.deleteRecord($index)" class='glyphicon glyphicon-remove'></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-combobox/js/bootstrap-combobox.js"></script>
<script src="bower_components/bootstrap-3-timepicker/js/bootstrap-timepicker.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="js/app.js"></script>
<script src="js/services/storageService.js"></script>
<script src="js/controllers/model.js"></script>
<script src="js/controllers/taskCtrl.js"></script>
<!--script src="js/timerec-view-edit.js"></script>
<script src="js/timerec-app-edit.js"></script-->

</body>
</html>
