<div>
    <div name="report" class="fullsize">

        <month-selection year="vm.year" month="vm.month" ng-change="vm.changed()"></month-selection>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Report {{vm.year}}-{{vm.month}}</div>
            <div class="table-responsive">

                <table id="taskTable" class="table">
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dayEntry in vm.report">
                        <td>{{dayEntry.day}}</td>
                        <td>
                            <ul>
                                <li ng-repeat="taskSummary in dayEntry.taskSummary">{{taskSummary.taskId}}: {{taskSummary.duration}} h</li>
                            </ul>
                            Sum: {{dayEntry.totalDuration}} h
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>