body {
    padding-top: 60px;
}

.bootstrap-timepicker {
    z-index: 1151 !important;
}

.bootstrap-timepicker-widget.dropdown-menu.open {
    display: inline-block;
    z-index: 1151 !important;
}

.bootstrap-timepicker-widget.dropdown-menu {
    padding: 4px;
    z-index: 1151 !important;
}

/* fix for angular ui bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

timepicker.ng-invalid {
    border-color: red;
    border-width: 2px;
}

input.ng-invalid {
    border-color: red;
    border-width: 2px;
}